@font-face {
  font-family: 'Butler-Regular';
  src: url('Butler-Regular.eot');
  src: url('Butler-Regular.woff2') format('woff2'),
       url('Butler-Regular.woff') format('woff'),
       url('Butler-Regulart.ttf') format('truetype'),
       url('Butler-Regular.svg#Butler-Regular') format('svg'),
       url('Butler-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
	font-family: 'Butler-Regular' !important;
	font-weight: normal !important;
	font-style: normal !important;
}

@font-face {
  font-family: 'Butler-Light';
  src: url('Butler-Light.eot');
  src: url('Butler-Light.woff2') format('woff2'),
       url('Butler-Light.woff') format('woff'),
       url('Butler-Light.ttf') format('truetype'),
       url('Butler-Light.svg#Butler-Light') format('svg'),
       url('Butler-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h2,h3,h4,h5,h6 {
	font-family: 'Butler-Light' !important;
	font-weight: normal !important;
	font-style: normal !important;
}